*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    font-family: sans-serif;

}

.main{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #9AFEFF;
    padding: 50px 0;

}
.card{
    width: 450px;
    height: auto;
    padding: 40px;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
}
.Man{
    display: flex;
    margin-bottom: 20px;
}
.left{

}
.left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:5px solid rgba(154, 254, 255,.7);
}
.right{
    margin-left: 20px;
}
.right h5{
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
}
.right p{
    color:#555;
}
.button{
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    display: block;
    margin: auto;
    border: none;
    background: rgba(154, 254, 255,.8);
    border-radius: 8px;
    color:#000;
    font-size: 20px;
    margin-top: 50px;

}
.button:hover{
    background: #eee;
    color:rgb(154, 254, 255);
    cursor: pointer;
}
.cut{
    color: rgb(154, 254, 255);
    font-size:25px;
    margin-left: 70px;
    margin-top: 15px;
}